.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./img/back.jpg');
  text-align: center;
}

.App__container {
  width: 100%;
  max-width: 1200px;
  padding-top: 100px;
  backdrop-filter: blur(15px);
  font-size: 22px;
  color: #000;
}

select {
  margin-bottom: 25px;
  font-size: 18px;
}
